# Default ignored files
/shelf/
/workspace.xml
/docs/config.ini
/venv/
/.idea/
/.vscode/

/tmp/server/*
!tmp/server/info.md

/tmp/client/*
!tmp/client/info.md

*.pyc

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
