# Default ignored files
/shelf/
/workspace.xml
/docs/config.toml
/venv/
/.idea/
/.vscode/

/tmp/server/*
!tmp/server/info.md

/tmp/client/*
!tmp/client/info.md

/tests/testing-environment/tmp/server/*
!tests/testing-environment/tmp/server/info.md

/tests/testing-environment/tmp/client/*
!tests/testing-environment/tmp/client/info.md

/tests/test_packet/*

*.pyc

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Temporary
/scripts/tcl/tcl_script.py