# Default ignored files
/shelf/
/workspace.xml
/docs/config.ini
/venv
/.idea

/communications/server/*
!communications/server/info.md

/communications/client/*
!communications/client/info.md

*.pyc

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
